<!--
SPDX-FileCopyrightText: 2021 Framasoft <https://framasoft.org>
SPDX-FileContributor: Thomas Citharel <thomas.citharel@framasoft.org>

SPDX-License-Identifier: AGPL-3.0-only
-->

<template>
	<NcSettingsSection
		:name="t('drop_account', 'Account deletion')"
		:description="
			t('drop_account', 'Allows users to delete themselves their own account.')
		">
		<form>
			<fieldset>
				<legend>
					{{ t('drop_account', 'Email confirmation') }}
				</legend>
				<NcCheckboxRadioSwitch
					:checked.sync="requireConfirmation"
					@update:checked="toggleRequireConfirmation">
					<p>
						{{ t('drop_account', 'Require confirmation by email') }}
						<br />
						<em>{{
							t(
								'drop_account',
								'Will require users to click a confirmation link sent by email to confirm their action.',
							)
						}}</em>
					</p>
				</NcCheckboxRadioSwitch>
			</fieldset>
			<fieldset>
				<legend>
					{{ t('drop_account', 'Data purge') }}
				</legend>
				<em class="fieldset-description">{{
					t(
						'drop_account',
						'Users are not removed right away but disabled until a background job removes their data for good. In the meanwhile, admins can "save" users by enabling them back.',
					)
				}}</em>
				<NcCheckboxRadioSwitch
					:checked.sync="delayPurge"
					value="no"
					name="drop_account_delay_purge"
					type="radio"
					@update:checked="toggleDelayPurge">
					<p>
						{{
							t('drop_account', 'Purge user data as soon as possible.')
						}}
						<br />
						<em>{{
							t(
								'drop_account',
								"Uses the next background job available to completely remove the user's data.",
							)
						}}</em>
					</p>
				</NcCheckboxRadioSwitch>
				<NcCheckboxRadioSwitch
					:checked.sync="delayPurge"
					value="yes"
					name="drop_account_delay_purge"
					type="radio"
					@update:checked="toggleDelayPurge">
					<p>
						{{ t('drop_account', 'Purge user data after a while.') }}
						<br />
						<em>{{
							t(
								'drop_account',
								'Deletes user data after a grace period.',
							)
						}}</em>
					</p>
				</NcCheckboxRadioSwitch>
			</fieldset>
			<fieldset v-show="delayPurge !== 'no'">
				<legend>
					{{ t('drop_account', 'Grace period duration') }}
				</legend>
				<select
					id="drop_account_delay_purge_delay"
					v-model="delayPurgeHours"
					name="drop_account_delay_purge"
					class="select"
					:disabled="delayPurge === 'no'"
					@change="changeDelayPurgeHours">
					<option value="24">
						{{ t('drop_account', 'One day') }}
					</option>
					<option value="168">
						{{ t('drop_account', 'One week') }}
					</option>
					<option value="720">
						{{ t('drop_account', 'One month') }}
					</option>
				</select>
			</fieldset>
		</form>
	</NcSettingsSection>
</template>
<script>
import { loadState } from '@nextcloud/initial-state'
import NcSettingsSection from '@nextcloud/vue/dist/Components/NcSettingsSection.js'
import NcCheckboxRadioSwitch from '@nextcloud/vue/dist/Components/NcCheckboxRadioSwitch.js'
import { showError } from '@nextcloud/dialogs'

export default {
	name: 'AdminSettings',
	components: {
		NcSettingsSection,
		NcCheckboxRadioSwitch,
	},
	data() {
		return {
			requireConfirmation: false,
			delayPurge: 'no',
			delayPurgeHours: '24',
			appName: 'drop_account',
		}
	},
	created() {
		try {
			this.requireConfirmation = loadState(this.appName, 'requireConfirmation')
			this.delayPurge = loadState(this.appName, 'delayPurge')
			this.delayPurgeHours = loadState(this.appName, 'delayPurgeHours')
		} catch (e) {
			console.error('Error fetching initial state', e)
		}
	},
	methods: {
		toggleRequireConfirmation() {
			try {
				this.OCP.AppConfig.setValue(
					this.appName,
					'requireConfirmation',
					this.requireConfirmation ? 'yes' : 'no',
				)
			} catch (e) {
				console.error(e)
				showError(
					t(
						'drop_account',
						'Error while changing require confirmation setting',
					),
				)
			}
		},
		toggleDelayPurge() {
			try {
				this.OCP.AppConfig.setValue(
					this.appName,
					'delayPurge',
					this.delayPurge,
				)
			} catch (e) {
				console.error(e)
				showError(
					t('drop_account', 'Error while changing delay purge setting'),
				)
			}
		},
		changeDelayPurgeHours() {
			try {
				this.OCP.AppConfig.setValue(
					this.appName,
					'delayPurgeHours',
					this.delayPurgeHours,
				)
			} catch (e) {
				console.error(e)
				showError(
					t(
						'drop_account',
						'Error while changing delay purge hours setting',
					),
				)
			}
		},
	},
}
</script>
<style scoped>
fieldset {
	margin-bottom: 1rem;

	.fieldset-description {
		margin-bottom: 1rem;
		display: block;
	}

	legend {
		font-size: 1rem;
	}
}
</style>
